dataset/*
alfabet-bisindo.zip
indonesian-sign-language-bisindo.zip
bisindo-dataset.zip
sign-language-bisindo.zip
bisindo-final.zip
indonesian-hand-sign-language-bisindo-dataset.zip
data_tambahan
dataset_bisindo
BISINDO - Dataset
bisindo
Citra BISINDO
bisindo_final
hand_keypoints.csv
bisindo-40-kata-mp4.zip
raw_video
dataset_word/*
label_encoder_word.pkl
dataset_pose/*
dataset_final.csv
sign_word_to_animation.ipynb
dataset_bvh/*
assets
output_json/*
output_gif/*
output_gif1/*
output_rotations/*