dataset/*
alfabet-bisindo.zip
indonesian-sign-language-bisindo.zip
bisindo-dataset.zip
sign-language-bisindo.zip
bisindo-final.zip
indonesian-hand-sign-language-bisindo-dataset.zip
data_tambahan
dataset_bisindo
BISINDO - Dataset
bisindo
Citra BISINDO
bisindo_final
sign_classifier_label.pkl
hand_keypoints.csv
